body {
    padding-top: 100px;
    background-color: black;
}

h1 {
    text-align: center;
}

.accordion {
    margin: 50px;
}

.accordion .title,
.accordion .description {
    padding: 10px;
    border: 1px solid black;
}

.accordion. .title {
    margin: 100px;
    padding: 100px;
}

.accordion .description {
    text-align: left;
    font-size: 20px;
}

a {
    text-align: left;
    color: black;
    font-weight: bold;
    text-decoration: initial;
}

button {
    float: right;
    margin-left: 10px;
}