<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accordion/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'accordion/main.js' %}"></script>


    <title>Accordion</title>
</head>

<body style="margin-top: 50 !important;">
    <h1 style="color: yellow; text-align: center !important;">Merhaba!</h1>
    <h1 style="text-align: center !important; color: aliceblue;"> Ibnu Hambali loves you!</h1>
    <div style="min-height:100%; margin-top:65px;">
        <div class="accordion">
            <div class="content" style="background-color: yellow;">
                <div class="title">
                    <a href="">Aktivitas Sekarang</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>Kuliah di Universitas Indonesia, prodi Sistem Informasi</li>
                        <li>Staff BEM Fasilkom UI Departemen Akademik dan kepemimpinan </li>
                        <li>Staff UI Youth Environmental Action divisi Field Event</li>
                        <li>Staf Medis PMB Fasilkom UI 2020</li>
                    </ul>
                </div>
            </div>
            <div class="content" style="color: aliceblue;">
                <div class="title">
                    <a href="" style="color: aliceblue;">Pengalaman</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>HR Startup Academy, Compfest</li>
                        <li>Ketua Divisi Biologi KIR Nona Tetra</li>
                        <li>Staf Mediasi dan Komunikasi ROHIS SMAN 94 JAKARTA</li>
                    </ul>
                </div>
            </div>
            <div class="content" style="background-color: yellow !important;">
                <div class="title">
                    <a href="">Prestasi</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>Juara 3 Debat Agama Islam (SMA) tingkat Kota</li>
                        <li>Juara 1 Cerdas Cermat Islam (SMA) tingkat Jabodetabek</li>
                    </ul>
                </div>
            </div>
            <div class="content" style="color: aliceblue;">
                <div class="title">
                    <a href="" style="color: aliceblue;">Kontak</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <a href="https://www.instagram.com/itenkoui/" style="color: aliceblue;">Instagram</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>